<h3><a class="btn btn-secondary" href="/api"><i class="fa fa-plus"></i> upload new file</a> Infomation of files</h3>
<h6>{{this.name}}</h6>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL.NO</th>
            <th>Project Info</th>
            <th>File path</th>
            <th>Name of the File uploader</th>
            <th>date and time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>
            <td>{{this.[2]}}</td>
            <td>{{this.[3]}}</td>
            <td>{{this.[4]}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>