<h3><a class="btn btn-secondary" href="/api/get"><i class="fa fa-plus"></i> upload new file</a> Infomation of files</h3>
<h6>{{this.name}}</h6>
<table class="table table-striped">
    <thead>
        <tr>
            <th>SL.NO</th>
            <th>Project Info</th>
            <th>File path</th>
            <th>Name of the File uploader</th>
            <th>date and time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>
            <td>{{this.[2]}}</td>
            <td>{{this.[3]}}</td>
            <td>{{this.[4]}}</td>
            {{!-- <td>
                <a href="/user/{{this.[0]}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/user/delete/{{this.[0]}}"
                    onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg"
                        aria-hidden="true"></i></a>
            </td> --}}
        </tr>
        {{/each}}
    </tbody>
</table>